@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --primary: #1b4db1;      
    --secondary: #2f7df4;    
    --accent: #4fc3f7;       

    --black: #222;
    --white: #ffffff;
    --light-color: #6c757d;  

    --border: 0.1rem solid rgba(0,0,0,0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.08);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 5.625rem;
    scroll-behavior: smooth;
}


/* Buttons */
.btn{
    display: inline-block;
    cursor: pointer;
    padding: .625rem 1.875rem;
    margin-top: .625rem;
    font-size: 1.0625rem;
    border: 1px solid #333;
    border-radius:6.25rem;
    background: var(--white);
    color: var(--black);
}

.btn:hover{
    background: var(--secondary);
    color: var(--white);
}

/* Headings */
.heading{
    margin-bottom: 1.875rem;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
}
